# Node / TypeScript
node_modules
dist
*.log
.env
.env.local
.env.development.local
.DS_Store
docs/etude-faisabilite-bot-warhammer.md

# Prisma
prisma/.env

# VSCode
.vscode

# Docker
*.pid
*.sock

# Misc
coverage
